*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav#navigator{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px minmax(200px,400px);
    justify-content: space-between;
    padding: 20px 10px;
    background-color: whitesmoke
}

nav#navigator.fixed{
    position: fixed;
    left: 0;
    right: 0;
}

nav#navigator.fixed ~ .page-main{
    padding-top: 50px;
}

nav#navigator h2{
    font-size: 30px;
}

nav#navigator .main_button{
    display: none;
}

nav#navigator .links{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav#navigator .links a {
    text-decoration: none;
    color: inherit;
}

nav#navigator .links a:hover{
    color: steelblue;
}

main{
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

main h1{
    padding-bottom: 15px;
    font-size: 50px;
}

main p {
    padding-bottom: 10px;
}